

<h1>Message List</h1>

<% @messages.each do |message| %>
  <div class="message">
    <h3><a href="/messages/<%= message.id %>">  <small>(by: <%= message.author %>)</small></a></h3>  
    <p>
      <%= message.content %>
    </p>

    <p>
      <%= message.url %>
    </p>
  </div>
<% end %>